@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}
.text-fg-primary {
    color: black !important;
}
.input {
    background-color: transparent !important;
}
.fill-fg-primary {
    fill: black !important;
}
.btn-primary {
    background: linear-gradient(91.11deg, #84dfdd -0.97%, #157d7a 167.27%);
}
.text-fg-secondary {
    color: black !important;
}
@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: #f8f8fb;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
